WebContent/wsdl/AccountServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checkout">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkoutResponse">
    <complexType>
     <sequence>
      <element name="checkoutReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="f_name" type="xsd:string"/>
      <element name="l_name" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="secret" type="xsd:string"/>
      <element name="last_login" type="xsd:date"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserResponse">
    <complexType>
     <sequence>
      <element name="addUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticate">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateResponse">
    <complexType>
     <sequence>
      <element name="authenticateReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendUserNotifications">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendUserNotificationsResponse">
    <complexType>
     <sequence>
      <element name="sendUserNotificationsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFromCart">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
      <element name="item_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFromCartResponse">
    <complexType>
     <sequence>
      <element name="removeFromCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendCartAvailability">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendCartAvailabilityResponse">
    <complexType>
     <sequence>
      <element name="sendCartAvailabilityReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendUserCartItems">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendUserCartItemsResponse">
    <complexType>
     <sequence>
      <element name="sendUserCartItemsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendAddresses">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendAddressesResponse">
    <complexType>
     <sequence>
      <element name="sendAddressesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendUserSearchResults">
    <complexType>
     <sequence>
      <element name="searchString" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendUserSearchResultsResponse">
    <complexType>
     <sequence>
      <element name="sendUserSearchResultsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendSearchResults">
    <complexType>
     <sequence>
      <element name="searchString" type="xsd:string"/>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendSearchResultsResponse">
    <complexType>
     <sequence>
      <element name="sendSearchResultsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendUserSuggestions">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendUserSuggestionsResponse">
    <complexType>
     <sequence>
      <element name="sendUserSuggestionsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendBidDetails">
    <complexType>
     <sequence>
      <element name="item_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendBidDetailsResponse">
    <complexType>
     <sequence>
      <element name="sendBidDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendItemDetails">
    <complexType>
     <sequence>
      <element name="item_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendItemDetailsResponse">
    <complexType>
     <sequence>
      <element name="sendItemDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addItemToCart">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
      <element name="item_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addItemToCartResponse">
    <complexType>
     <sequence>
      <element name="addItemToCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserAddress">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
      <element name="st_address" type="xsd:string"/>
      <element name="apt" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zip" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserAddressResponse">
    <complexType>
     <sequence>
      <element name="addUserAddressReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendConditions">
    <complexType/>
   </element>
   <element name="sendConditionsResponse">
    <complexType>
     <sequence>
      <element name="sendConditionsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="publishSale">
    <complexType>
     <sequence>
      <element name="seller" type="xsd:int"/>
      <element name="item" type="xsd:int"/>
      <element name="condition" type="xsd:int"/>
      <element name="sale_price" type="xsd:float"/>
      <element name="title" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
      <element name="is_bid" type="xsd:boolean"/>
      <element name="sale_qty" type="xsd:int"/>
      <element name="active" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="publishSaleResponse">
    <complexType>
     <sequence>
      <element name="publishSaleReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateLastLogin">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateLastLoginResponse">
    <complexType>
     <sequence>
      <element name="updateLastLoginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchUserResponse">
    <complexType>
     <sequence>
      <element name="fetchUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addUserAddressRequest">

      <wsdl:part element="impl:addUserAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendUserCartItemsRequest">

      <wsdl:part element="impl:sendUserCartItems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="publishSaleResponse">

      <wsdl:part element="impl:publishSaleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendUserSuggestionsResponse">

      <wsdl:part element="impl:sendUserSuggestionsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendUserSuggestionsRequest">

      <wsdl:part element="impl:sendUserSuggestions" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendUserNotificationsResponse">

      <wsdl:part element="impl:sendUserNotificationsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendItemDetailsResponse">

      <wsdl:part element="impl:sendItemDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendSearchResultsRequest">

      <wsdl:part element="impl:sendSearchResults" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendConditionsResponse">

      <wsdl:part element="impl:sendConditionsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendItemDetailsRequest">

      <wsdl:part element="impl:sendItemDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkoutRequest">

      <wsdl:part element="impl:checkout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part element="impl:addUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFromCartRequest">

      <wsdl:part element="impl:removeFromCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="publishSaleRequest">

      <wsdl:part element="impl:publishSale" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateLastLoginRequest">

      <wsdl:part element="impl:updateLastLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendCartAvailabilityResponse">

      <wsdl:part element="impl:sendCartAvailabilityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkoutResponse">

      <wsdl:part element="impl:checkoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateResponse">

      <wsdl:part element="impl:authenticateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendBidDetailsRequest">

      <wsdl:part element="impl:sendBidDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendUserSearchResultsRequest">

      <wsdl:part element="impl:sendUserSearchResults" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchUserResponse">

      <wsdl:part element="impl:fetchUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendAddressesRequest">

      <wsdl:part element="impl:sendAddresses" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addItemToCartResponse">

      <wsdl:part element="impl:addItemToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendBidDetailsResponse">

      <wsdl:part element="impl:sendBidDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendUserSearchResultsResponse">

      <wsdl:part element="impl:sendUserSearchResultsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part element="impl:addUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendUserNotificationsRequest">

      <wsdl:part element="impl:sendUserNotifications" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendConditionsRequest">

      <wsdl:part element="impl:sendConditions" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchUserRequest">

      <wsdl:part element="impl:fetchUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserAddressResponse">

      <wsdl:part element="impl:addUserAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendSearchResultsResponse">

      <wsdl:part element="impl:sendSearchResultsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendCartAvailabilityRequest">

      <wsdl:part element="impl:sendCartAvailability" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateRequest">

      <wsdl:part element="impl:authenticate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendUserCartItemsResponse">

      <wsdl:part element="impl:sendUserCartItemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addItemToCartRequest">

      <wsdl:part element="impl:addItemToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendAddressesResponse">

      <wsdl:part element="impl:sendAddressesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateLastLoginResponse">

      <wsdl:part element="impl:updateLastLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFromCartResponse">

      <wsdl:part element="impl:removeFromCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AccountServices">

      <wsdl:operation name="checkout">

         <wsdl:input message="impl:checkoutRequest" name="checkoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkoutResponse" name="checkoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticate">

         <wsdl:input message="impl:authenticateRequest" name="authenticateRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateResponse" name="authenticateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendUserNotifications">

         <wsdl:input message="impl:sendUserNotificationsRequest" name="sendUserNotificationsRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendUserNotificationsResponse" name="sendUserNotificationsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFromCart">

         <wsdl:input message="impl:removeFromCartRequest" name="removeFromCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeFromCartResponse" name="removeFromCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendCartAvailability">

         <wsdl:input message="impl:sendCartAvailabilityRequest" name="sendCartAvailabilityRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendCartAvailabilityResponse" name="sendCartAvailabilityResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendUserCartItems">

         <wsdl:input message="impl:sendUserCartItemsRequest" name="sendUserCartItemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendUserCartItemsResponse" name="sendUserCartItemsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendAddresses">

         <wsdl:input message="impl:sendAddressesRequest" name="sendAddressesRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendAddressesResponse" name="sendAddressesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendUserSearchResults">

         <wsdl:input message="impl:sendUserSearchResultsRequest" name="sendUserSearchResultsRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendUserSearchResultsResponse" name="sendUserSearchResultsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendSearchResults">

         <wsdl:input message="impl:sendSearchResultsRequest" name="sendSearchResultsRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendSearchResultsResponse" name="sendSearchResultsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendUserSuggestions">

         <wsdl:input message="impl:sendUserSuggestionsRequest" name="sendUserSuggestionsRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendUserSuggestionsResponse" name="sendUserSuggestionsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendBidDetails">

         <wsdl:input message="impl:sendBidDetailsRequest" name="sendBidDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendBidDetailsResponse" name="sendBidDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendItemDetails">

         <wsdl:input message="impl:sendItemDetailsRequest" name="sendItemDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendItemDetailsResponse" name="sendItemDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addItemToCart">

         <wsdl:input message="impl:addItemToCartRequest" name="addItemToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addItemToCartResponse" name="addItemToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUserAddress">

         <wsdl:input message="impl:addUserAddressRequest" name="addUserAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUserAddressResponse" name="addUserAddressResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendConditions">

         <wsdl:input message="impl:sendConditionsRequest" name="sendConditionsRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendConditionsResponse" name="sendConditionsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="publishSale">

         <wsdl:input message="impl:publishSaleRequest" name="publishSaleRequest">

       </wsdl:input>

         <wsdl:output message="impl:publishSaleResponse" name="publishSaleResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateLastLogin">

         <wsdl:input message="impl:updateLastLoginRequest" name="updateLastLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateLastLoginResponse" name="updateLastLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchUser">

         <wsdl:input message="impl:fetchUserRequest" name="fetchUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:fetchUserResponse" name="fetchUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AccountServicesSoapBinding" type="impl:AccountServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendUserNotifications">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendUserNotificationsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendUserNotificationsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFromCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeFromCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeFromCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendCartAvailability">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendCartAvailabilityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendCartAvailabilityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendUserCartItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendUserCartItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendUserCartItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendAddresses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendAddressesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendAddressesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendUserSearchResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendUserSearchResultsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendUserSearchResultsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendSearchResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSearchResultsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendSearchResultsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendUserSuggestions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendUserSuggestionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendUserSuggestionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendBidDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendBidDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendBidDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendItemDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendItemDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendItemDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addItemToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addItemToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addItemToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUserAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendConditions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendConditionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendConditionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="publishSale">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="publishSaleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="publishSaleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateLastLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateLastLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateLastLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AccountServicesService">

      <wsdl:port binding="impl:AccountServicesSoapBinding" name="AccountServices">

         <wsdlsoap:address location="http://localhost:8080/eBayWebServices/services/AccountServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
